@charset "UTF-8";
h1 {
  display: block;
  border: 0;
  overflow: hidden;
  direction: ltr;
  text-indent: -999em;
  text-align: left;
  background-color: transparent;
  background-repeat: no-repeat; }

body {
  position: relative;
  max-width: 720px;
  margin: 60px auto;
  padding: 40px 32px 96px;
  border: 32px solid #0f7606;
  border-bottom-width: 0;
  font: 24px/1.5em Montserrat, sans-serif;
  text-align: center;
  color: #fff;
  background: #37b027;
  -webkit-transition: margin 0.4s, border-width 0.4s;
          transition: margin 0.4s, border-width 0.4s; }
  body [class^="fa"]::before {
    font-family: Fontawesome; }

h1 {
  height: 70px;
  width: 100px;
  margin: 0 auto 1em;
  background-image: url("fingerprint.svg"); }

a, .infotip {
  position: relative;
  top: 0.1em;
  color: #fff;
  color: transparent;
  text-shadow: 0 -0.1em #fff, 0.08em -0.1em 0 #37b027, 0 0, -0.08em -0.1em 0 #9c27b0;
  text-decoration: none; }

a {
  background: -webkit-linear-gradient(#d7bedb, #d7bedb) center 87% no-repeat;
  background: linear-gradient(#d7bedb, #d7bedb) center 87% no-repeat;
  background-size: 90% 2px;
  -webkit-transition: background-size 0.4s;
          transition: background-size 0.4s; }
  a:hover {
    background-size: 100% 2px; }
  footer a {
    background-size: 90% 1px; }
    footer a:hover {
      background-size: 100% 1px; }

.infotip {
  background: -webkit-repeating-radial-gradient(center center, #bc95c3, #bc95c3 1px, transparent 1px, transparent 100%) left 87% repeat-x;
  background: repeating-radial-gradient(center center, #bc95c3, #bc95c3 1px, transparent 1px, transparent 100%) left 87% repeat-x;
  background-size: 3px 3px; }
  .infotip:before {
    content: attr(data-info);
    position: absolute;
    left: 100%;
    bottom: 30px;
    display: none;
    line-height: 2em;
    width: 150%;
    padding: 1em;
    font-size: 12px;
    text-shadow: none;
    color: #fff; }
  .infotip::after {
    content: "";
    vertical-align: super;
    font-size: 12px;
    opacity: 0.75;
    font-family: Fontawesome;
    -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }
  .infotip:hover::before {
    display: block;
    background: #420952; }
  .infotip:hover::after {
    opacity: 1; }

label {
  display: block; }
  label::before {
    display: inline-block;
    width: 1.2em;
    text-align: center; }

input {
  display: inline-block;
  width: 6em;
  margin: 0.5em 0 0.5em 0.6em;
  padding: 0.2em 0.4em;
  border: 0;
  outline: 0;
  font: 32px Montserrat, sans-serif;
  box-shadow: 4px -4px #000000 inset;
  color: #fff;
  background: #000000; }

#message {
  -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s; }
  #message.hidden {
    opacity: 0; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 72px;
  line-height: 72px;
  font-size: 12px;
  background: #0f7606; }
  footer p {
    margin: 0; }

@media (max-width: 848px) {
  body {
    margin: 0;
    border-width: 0; } }
